{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a href="{% url 'home' %}" class="navbar-item">Notes</a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            <a href="{% url 'home' %}?noteid=0" class="navbar-item">Create Note</a>
        </div>
    </div>
</nav>
</body>
</html>